:root {
    --background: #D7DEDE;
    --primary: #7B8C73;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: var(--primary);
}

header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}